<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Your Word</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wordwisestyles.css') }}">
</head>
  <body>
    <div class="container">
      <div class="subtitle">
        <h1>Got it! Here's your word:</h1>
      </div>
      <div class="result-container">
        <div class ="source-word-details">
          <h2>Translating from: {{ source_lang }}</h2>
          <h2>{{request.form['word']}}</h2>
        </div>
        <div class="target-word-details">
          <h2>Translating into: {{ target_lang }}</h2>
          <h2>{{ word}}</h2>
        </div>
    </div>
    <div class="button-container">
      <form action="{{ url_for('add_to_wordbank') }}" method="post">  <input type="hidden" name="translated_word" value="{{ translated_word }}">
        <span class="add-to-wordbank-button">
          <button type="submit"> Add to word bank</button>
        </span>
      </form>
    </form>
      <form action="{{ url_for('welcome') }}" method="get">
      <span class="home-button">
        <button type="submit">🏡 Take me home</button>
    </span>
  </form>
    </div>
  </div>
</body>

</html>